body {
    background-image: url("../Images/Pixel\ factory\ gif.gif");
    background-size: cover;
}

h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.antonio-cartoon {
    width: 100px;
    height: 100px;
}